nodered.json
[{"id":"6fe8bb30.4d9a54","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"a9bc51b3.81ca7","type":"ui_form","z":"6fe8bb30.4d9a54","name":"","label":"","group":"e7f7174c.acdcf8","order":2,"width":0,"height":0,"options":[{"label":"year","value":"b","type":"number","required":true,"rows":null},{"label":"status","value":"c","type":"text","required":true,"rows":null},{"label":"bmi","value":"d","type":"number","required":true,"rows":null},{"label":"adult_mortality","value":"e","type":"number","required":true,"rows":null},{"label":"infant_deaths","value":"f","type":"number","required":true,"rows":null},{"label":"alcohol","value":"g","type":"number","required":true,"rows":null},{"label":"percentage _expenditure","value":"h","type":"number","required":true,"rows":null},{"label":"hepatitis_b","value":"i","type":"number","required":true,"rows":null},{"label":"under _five _deaths","value":"j","type":"number","required":true,"rows":null},{"label":"polio","value":"k","type":"number","required":true,"rows":null},{"label":"total _expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"hivaids","value":"n","type":"number","required":true,"rows":null},{"label":"gdp","value":"o","type":"number","required":true,"rows":null},{"label":"population","value":"p","type":"number","required":true,"rows":null},{"label":"thin_1","value":"q","type":"number","required":true,"rows":null},{"label":"thin_5","value":"r","type":"number","required":true,"rows":null},{"label":"income _composition _of _resources","value":"s","type":"number","required":true,"rows":null},{"label":"schooling","value":"t","type":"number","required":true,"rows":null},{"label":"measles","value":"u","type":"number","required":true,"rows":null}],"formValue":{"b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":90,"y":100,"wires":[["f2a3a669.fbbc38"]]},{"id":"f2a3a669.fbbc38","type":"function","z":"6fe8bb30.4d9a54","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"4pYzXYA8l19CHsikYrTd2KT8sCX6vj3cWpfvWE-xohBn\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":120,"wires":[["a822b1af.5d7b"]]},{"id":"700d1856.b57758","type":"http request","z":"6fe8bb30.4d9a54","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/613e8f87-453c-41c0-ae8a-301fb3b1724d/deployments/1557e6a5-b32f-411f-ae87-db4e25e7f3b1/online","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":200,"wires":[["f35cf736.809208","a66dd831.2a79b8"]]},{"id":"ce08ec99.7e1ee","type":"debug","z":"6fe8bb30.4d9a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":300,"wires":[]},{"id":"a66dd831.2a79b8","type":"function","z":"6fe8bb30.4d9a54","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["ce08ec99.7e1ee","452f68c4.9dc9c8"]]},{"id":"f35cf736.809208","type":"debug","z":"6fe8bb30.4d9a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":200,"wires":[]},{"id":"8cfcb7b4.0e6768","type":"function","z":"6fe8bb30.4d9a54","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"613e8f87-453c-41c0-ae8a-301fb3b1724d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['year', 'status', 'adult_mortality', 'infant_deaths',\n       'alcohol', 'percentage_expenditure', 'hepatitis_b', 'measles', 'bmi',\n       'under_five_deaths', 'polio', 'total_expenditure', 'diphtheria',\n       'hivaids', 'gdp', 'population', 'thin_1', 'thin_5',\n       'income_composition_of_resources', 'schooling'],\n\"values\":[[b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["700d1856.b57758"]]},{"id":"a822b1af.5d7b","type":"http request","z":"6fe8bb30.4d9a54","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":100,"wires":[["8cfcb7b4.0e6768"]]},{"id":"452f68c4.9dc9c8","type":"ui_text","z":"6fe8bb30.4d9a54","group":"e7f7174c.acdcf8","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":741,"y":400,"wires":[]},{"id":"e7f7174c.acdcf8","type":"ui_group","z":"","name":"Life Expectancy Prediction","tab":"1fc111f5.50004e","order":1,"disp":true,"width":"6","collapse":false},{"id":"1fc111f5.50004e","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]
